@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
:root {
	--color-claro: #75CEDE;
	--color-medio: #B1D34A;
	--color-oscuro: #007CBA;
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	
}

body {
	font-weight: 400;
}
.boton {
	background-color: var(--color-oscuro);
	width: 150px;
	text-align: center;
	border-radius: 30px;
	padding: 7px !important;
	font-size: 1.2rem;
	color: var(--color-medio) !important;
/*	margin: 10px auto;*/
	outline: 0px;
	border: 0px;
	cursor: pointer;
}
.boton:hover {
	background-color: var(--color-oscuro);
	
	transition: .5s;
}
/*CABECERA*/
header.cabecera {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,07)),url(img/bansip.png);
	background-size: cover;
	background-position: center;
}
.logo {
	height: 80px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	border-bottom: 1px solid black;
}
.logo > img {
	height: 50px;
}
.logo > img[src="img/logo1.png"]{
	display: none;
}
.logo > label {
	color: var(--color-claro);
	background-color: var(--color-oscuro);
	width: 50px;
	height: 50px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}
nav.menu {
	background-color: var(--color-claro);
	display: none;
}
nav.menu  li {
	list-style: none;
	border-bottom: 1px solid white;
	
}
nav.menu li:last-of-type{
	border-bottom: none;

}

nav.menu a {
	color: var(--color-oscuro);
	text-decoration: none;
	display: block;
	padding: 15px;
	font-size: 1.5rem;
}
nav.menu a:hover {
	background-color: var(--color-medio);
	color: var(--color-claro);
	transition: .5s;
}
#menu {
	display: none;
}
#menu:checked + .menu {
	display: block;
}
/*Banner*/
/*.banner {
	color: var(--color-claro);
	padding: 40px;
}
.titulo > * {
	margin-bottom: 1rem;
}
.titulo > h3{
	font-weight: 400;
	font-size: 1.8rem;
	
}
.titulo > h1 {
	font-size: 2.8em;
	font-weight: 900;
	color: white;
}
h1 > span {
	font-weight: 400;
}
.titulo > p {
	font-size: 1.3rem;
	line-height: 26px;
	
*/
/******SLIDER SERVICIOS*******/
.contenedor {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,07)),url(img/COMPUTADORA.png);
	background-size: cover;
	background-position: center;
	/* max-width: 1200px;
	width: 90%;
	margin: auto;*/
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-content: center;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	color:white;
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;

}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

/*****************TAMAÑO CELULAR*******************/

@media (min-width:780px){
	.banner {
		display: flex;
		justify-content: initial;
		align-items: flex-start;
	}
	.banner  h1 {
		font-size: 4rem;
	}
	.titulo {
		padding: 20px;
		flex: 1 0 400px;
		
	}
	.mision {
		padding: 20px;
		flex: 1 0 400px;
	}
	.vision {
		padding: 20px;
		flex: 1 0 400px;
	}
	/*.formulario {
		flex: 0 0 300px;
		
	}
	*/
	input.boton {
		margin-bottom: 5px;
	}
}




/*********************************************************************************************************************TAMAÑO 1000 *********************************************************************************************************************/
@media (min-width:1000px){
	/*CABECERA*/
	.contenedor_logo{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px;
		
	}
.logo {
	height: initial;
	padding: initial;
	border-bottom: none;
	background-color: transparent;
}
.logo > img {
	height: 60px;
}
.logo > img[src="img/logo1.png"]{
	display: initial;
}
.logo > img[src="img/logo2.jpg"]{
	display: none;
}
	
.logo > label {
	display: none;
}
nav.menu {
	background-color: initial;
	display: initial;
}
nav.menu > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav.menu  li {
	
	border-bottom: none;
	
}


nav.menu a {
	color: var(--color-claro);
	padding: 15px;
	font-size: 1.5rem;
}
nav.menu a:hover {
	background-color: initial;
	color: var(--color-medio);
	
}


.banner {
	background-image: initial;
	background-size: cover;
	background-position: center;
	color: var(--color-claro);
	padding: 40px;
}
	
	
	
}












